<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lanxiang.dao.NewsDao" >
  <resultMap id="BaseResultMap" type="com.lanxiang.model.News" >
    <id column="news_id" property="news_id" jdbcType="INTEGER" />
    <result column="news_title" property="news_title" jdbcType="VARCHAR" />
    <result column="news_image" property="news_image" jdbcType="VARCHAR" />
    <result column="news_type" property="news_type" jdbcType="VARCHAR" />
    <result column="news" property="news" jdbcType="VARCHAR" />
    <result column="times" property="times" jdbcType="TIMESTAMP" />
  </resultMap>
  <select id="getNewsList" parameterType="News" resultMap="BaseResultMap">
      select  * from news
  </select>
  <insert id="addNews" parameterType="News">
    insert into news(news_title,news_image,news_type,news,times) values (#{news_title},#{news_image},#{news_type},#{news},#{times})
  </insert>
  <!--
<sql id="Example_Where_Clause" >
  <where >
    <foreach collection="oredCriteria" item="criteria" separator="or" >
      <if test="criteria.valid" >
        <trim prefix="(" suffix=")" prefixOverrides="and" >
          <foreach collection="criteria.criteria" item="criterion" >
            <choose >
              <when test="criterion.noValue" >
                and ${criterion.condition}
              </when>
              <when test="criterion.singleValue" >
                and ${criterion.condition} #{criterion.value}
              </when>
              <when test="criterion.betweenValue" >
                and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
              </when>
              <when test="criterion.listValue" >
                and ${criterion.condition}
                <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                  #{listItem}
                </foreach>
              </when>
            </choose>
          </foreach>
        </trim>
      </if>
    </foreach>
  </where>
</sql>
<sql id="Update_By_Example_Where_Clause" >
  <where >
    <foreach collection="example.oredCriteria" item="criteria" separator="or" >
      <if test="criteria.valid" >
        <trim prefix="(" suffix=")" prefixOverrides="and" >
          <foreach collection="criteria.criteria" item="criterion" >
            <choose >
              <when test="criterion.noValue" >
                and ${criterion.condition}
              </when>
              <when test="criterion.singleValue" >
                and ${criterion.condition} #{criterion.value}
              </when>
              <when test="criterion.betweenValue" >
                and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
              </when>
              <when test="criterion.listValue" >
                and ${criterion.condition}
                <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                  #{listItem}
                </foreach>
              </when>
            </choose>
          </foreach>
        </trim>
      </if>
    </foreach>
  </where>
</sql>
<sql id="Base_Column_List" >
  news_id, news_title, news_image, news_type, news, time
</sql>
<select id="selectByExample" resultMap="BaseResultMap" parameterType="com.qp.pojo.NewsExample" >
  select
  <if test="distinct" >
    distinct
  </if>
  <include refid="Base_Column_List" />
  from news
  <if test="_parameter != null" >
    <include refid="Example_Where_Clause" />
  </if>
  <if test="orderByClause != null" >
    order by ${orderByClause}
  </if>
</select>
<select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
  select
  <include refid="Base_Column_List" />
  from news
  where news_id = #{newsId,jdbcType=INTEGER}
</select>
<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
  delete from news
  where news_id = #{newsId,jdbcType=INTEGER}
</delete>
<delete id="deleteByExample" parameterType="com.qp.pojo.NewsExample" >
  delete from news
  <if test="_parameter != null" >
    <include refid="Example_Where_Clause" />
  </if>
</delete>
<insert id="insert" parameterType="com.qp.pojo.News" >
  insert into news (news_id, news_title, news_image,
    news_type, news, time
    )
  values (#{newsId,jdbcType=INTEGER}, #{newsTitle,jdbcType=VARCHAR}, #{newsImage,jdbcType=VARCHAR},
    #{newsType,jdbcType=VARCHAR}, #{news,jdbcType=VARCHAR}, #{time,jdbcType=TIMESTAMP}
    )
</insert>
<insert id="insertSelective" parameterType="com.qp.pojo.News" >
  insert into news
  <trim prefix="(" suffix=")" suffixOverrides="," >
    <if test="newsId != null" >
      news_id,
    </if>
    <if test="newsTitle != null" >
      news_title,
    </if>
    <if test="newsImage != null" >
      news_image,
    </if>
    <if test="newsType != null" >
      news_type,
    </if>
    <if test="news != null" >
      news,
    </if>
    <if test="time != null" >
      time,
    </if>
  </trim>
  <trim prefix="values (" suffix=")" suffixOverrides="," >
    <if test="newsId != null" >
      #{newsId,jdbcType=INTEGER},
    </if>
    <if test="newsTitle != null" >
      #{newsTitle,jdbcType=VARCHAR},
    </if>
    <if test="newsImage != null" >
      #{newsImage,jdbcType=VARCHAR},
    </if>
    <if test="newsType != null" >
      #{newsType,jdbcType=VARCHAR},
    </if>
    <if test="news != null" >
      #{news,jdbcType=VARCHAR},
    </if>
    <if test="time != null" >
      #{time,jdbcType=TIMESTAMP},
    </if>
  </trim>
</insert>
<select id="countByExample" parameterType="com.qp.pojo.NewsExample" resultType="java.lang.Integer" >
  select count(*) from news
  <if test="_parameter != null" >
    <include refid="Example_Where_Clause" />
  </if>
</select>
<update id="updateByExampleSelective" parameterType="map" >
  update news
  <set >
    <if test="record.newsId != null" >
      news_id = #{record.newsId,jdbcType=INTEGER},
    </if>
    <if test="record.newsTitle != null" >
      news_title = #{record.newsTitle,jdbcType=VARCHAR},
    </if>
    <if test="record.newsImage != null" >
      news_image = #{record.newsImage,jdbcType=VARCHAR},
    </if>
    <if test="record.newsType != null" >
      news_type = #{record.newsType,jdbcType=VARCHAR},
    </if>
    <if test="record.news != null" >
      news = #{record.news,jdbcType=VARCHAR},
    </if>
    <if test="record.time != null" >
      time = #{record.time,jdbcType=TIMESTAMP},
    </if>
  </set>
  <if test="_parameter != null" >
    <include refid="Update_By_Example_Where_Clause" />
  </if>
</update>
<update id="updateByExample" parameterType="map" >
  update news
  set news_id = #{record.newsId,jdbcType=INTEGER},
    news_title = #{record.newsTitle,jdbcType=VARCHAR},
    news_image = #{record.newsImage,jdbcType=VARCHAR},
    news_type = #{record.newsType,jdbcType=VARCHAR},
    news = #{record.news,jdbcType=VARCHAR},
    time = #{record.time,jdbcType=TIMESTAMP}
  <if test="_parameter != null" >
    <include refid="Update_By_Example_Where_Clause" />
  </if>
</update>
<update id="updateByPrimaryKeySelective" parameterType="com.qp.pojo.News" >
  update news
  <set >
    <if test="newsTitle != null" >
      news_title = #{newsTitle,jdbcType=VARCHAR},
    </if>
    <if test="newsImage != null" >
      news_image = #{newsImage,jdbcType=VARCHAR},
    </if>
    <if test="newsType != null" >
      news_type = #{newsType,jdbcType=VARCHAR},
    </if>
    <if test="news != null" >
      news = #{news,jdbcType=VARCHAR},
    </if>
    <if test="time != null" >
      time = #{time,jdbcType=TIMESTAMP},
    </if>
  </set>
  where news_id = #{newsId,jdbcType=INTEGER}
</update>
<update id="updateByPrimaryKey" parameterType="com.qp.pojo.News" >
  update news
  set news_title = #{newsTitle,jdbcType=VARCHAR},
    news_image = #{newsImage,jdbcType=VARCHAR},
    news_type = #{newsType,jdbcType=VARCHAR},
    news = #{news,jdbcType=VARCHAR},
    time = #{time,jdbcType=TIMESTAMP}
  where news_id = #{newsId,jdbcType=INTEGER}
</update>
-->
</mapper>